div#resultado{
    margin: auto;
    padding: 20px;
    height: 80px;
    border: 8px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

p#display{
    color: black;
    text-align: right;
    size: 10px;
    font-size: 200%;
}

div#numeros{
    float: left;
    width: 280px;
    height: 360px;
    border: 7px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    margin: auto;
    text-align: center;

    
}
div#operadores{
    float: right;
    float:inline-end;
    width: 190px;
    height: 360px;
    border: 7px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    margin:auto;
    text-align: center;
    
}

div#calculadora{
    width: 510px;
    height: 510px;
    border: 8px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    margin:auto;
    
}


button{
    font-size: 250%;
    color: rgb(255, 255, 255);
    background-color: gray;
    width: 88px;
    height: 82px;
    margin: auto;
    margin-top: 4px;
    text-align: center;
    border-radius: 20px;
}

button:hover{
    background-color: rgb(255, 145, 1);
    color: black;
    font-size: 300%;
}


p{
    font-size: 250%;
    margin: auto;
    margin-top: 4px;
    text-align: center;
    border-radius: 20px;
}