div#resultado{
    margin: auto;
    padding: 20px;
    border: 8px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

div#numeros{
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 8px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);

    
}
div#operadores{
    float: right;
    float:inline-end;
    width: 200px;
    height: 200px;
    border: 8px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    
}

div#botones{
    width: 500px;
    height: 800px;
    border: 8px solid rgb(76, 0, 255);
    background: rgb(209, 0, 0);
    margin:auto;
}


button{
    width: 80px;
    height: 80px;
}