body {
    background-image: url(https://i.gifer.com/MImN.gif);
    background-position: center;
    background-repeat:space;
    background-color: black;
    color:rgb(255, 255, 255);
    margin: auto; 
    font-family:'Times New Roman', Times, serif
  }

#introduccion{

  border: rgb(51, 164, 168) 0.4vw solid;
  text-align: center;
  font-size: 2vw;
  font-style: italic;
  width: 97.29%;
  height: 12vw;
  margin-right: 1vw;
  margin-left: 1%;
}


.caja{
  float: right;
  margin-right: 1vw;
  margin-top: 2vw;
  border:0.25vw solid rgb(51, 164, 168);
  width: 50%;
  height: 15vw;
  font-size: 1.5vw;
  text-align: center;
}

#bloque_general{
  margin: auto; 
  justify-content: center;
  text-align: center;
  height: 200vh;
  width: 100vw;

}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 4vw;
}

h2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2vw;
}

img{
  width:20vw;
  height:20vw;
  object-fit: cover;
  border-radius: 50%;
  border:0.25vw solid rgb(51, 164, 168);
  display:block;
  margin:auto;
}

#iron{
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 2vw;
  float: left;
  height: 100vw;
  width: 44vw;
  
}

video{
  border: 0.25vw solid rgb(51, 164, 168);
  height: 32.5vw;
  width: 45vw;
  position: sticky;
  top: 20%;
}



#caja_otros{
  height: 23vw;
}

#caja_contacto{
  height: 15vw;
}