body {
    background-image: url(https://i.gifer.com/MImN.gif);
    background-position: center;
    background-repeat:space;
    background-color: black;
    color:rgb(255, 255, 255);
    margin: auto; 
  }

#introduccion{
  margin: auto; 
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  font-size: 150%;
  font-style: italic;
  width: 98%;
}
#bloque_general{
  margin: auto; 
  justify-content: center;
  text-align: center;
  height: 200vh;
  width: 100vw;

}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 400%;
}

h2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 200%;
}

img{
  width:300px;
  height:300px;
  border-radius:150px;
  object-fit: cover;
  border-radius: 50%;
  border:10px solid rgb(255, 255, 255);
  display:block;
  margin:left;
}

.caja{
  margin: 0.78%; 
  border:10px solid rgb(255, 255, 255);
  width: 50%;
  height: 25vh;
}