body {
    background-image: url(https://i.gifer.com/MImN.gif);
    background-position: center;
    background-repeat:space;
    background-color: black;
    color:rgb(255, 255, 255);
  }

#introduccion{
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  font-size: 150%;
  font-style: italic;
}
#bloque_general{
  justify-content: center;
}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 400%;

}
 

img{
  width:300px;
  height:300px;
  border-radius:150px;
  object-fit: cover;
  border-radius: 50%;
  border:10px solid rgb(255, 255, 255);
  display:block;
  margin:auto;


}

#caja_nombre{
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  float:left;
  width: 600px;
  height: 200px;
}

#caja_estudios{
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  float:left;
  width: 600px;
  height: 200px;

}

#caja_experiencia{
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  float:left;
  width: 600px;
  height: 200px;
 
}

#caja_idiomas{
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  float:left;
  width: 600px;
  height: 200px;

}

#caja_otros{
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  float:left;
  width: 600px;
  height: 200px;

}

#caja_contacto{
  border: rgb(255, 255, 255) 5px solid;
  text-align: center;
  float:left;
  width: 600px;
  height: 200px;

}