body {
    background-color: grey;
    text-align: center;
  }

p{
  font-size: 2vw;
}
.image_box{
  float: left;
  margin: 4vw;
}

img{
  width: 40vw;
  height: 25vw;
}

canvas{
  width: 40vw;
  height: 25vw;
}

#botones{
  border-color:solid, black;
  width: 92vw;
  height: 50vw;
  margin: 2vw;
  float: left;
}

button{
  width: 8vw;
  height: 4vw;
  font-size: 1vw;
}
